* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  font-family: sans-serif;
}

.big-and-bold{
  Font-size: 48px;
  Font-weight: 400;
  Transition: all 2s;
}

h1 {
  padding-bottom: 1%;
  font-weight: 100;
  font-size: 12px;
  max-width: 200px;
  margin: 0 auto;
}

.bg {
  background-image: url('images/menu.png');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-gen {
  text-align: center;
}

button {
  background-color: #bb0a1e;
  padding: 1%;
  border-radius: 10%;
  color: #fff;
}

#generator-button {
  margin: 25% auto;
}
