* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


.big-and-bold{
  font-size: 15px;
  font-weight: 400;
  transition: all 2s;
  font-family: 'Homemade Apple', cursive;
  color: #bb0a1e;
}

h1 {
  padding-bottom: 1%;
  font-weight: 100;
  font-size: 10px;
  max-width: 200px;
  margin: 0 auto;
  color: #5a5d59;
  font-family: 'Mali', cursive;
}

.bg {
  background-image: url('images/menu.png');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-gen {
  text-align: center;
}

button {
  background-color: #bb0a1e;
  padding: 1%;
  border-radius: 10%;
  color: #fff;
  font-family: 'Mali', cursive;
}

#generator-button {
  margin: 25% auto 0;
}
@media (min-width: 450px) {
  .big-and-bold {
    font-size: 20px;
  }

  h1 {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  .big-and-bold {
    font-size: 25px;
  }

  h1 {
    font-size: 18px;
  }
}
@media (min-width: 800px) {
  .big-and-bold {
    font-size: 40px;
  }

  h1 {
    font-size: 20px;
  }
}
